body {
  margin: 0 100px;
}
.container {
  padding: 200px 0;
  text-align: center;
}

.head {
  border-bottom: 1px solid black;
}
.head2 {
  padding: 20px;
  background-color: rgb(60, 58, 58);
  color: aliceblue;
  border-radius: 15px;
}
#btn {
  font-size: 30px;
  border: 1px solid rgb(45, 33, 33);
  padding-top: 5px;
  border-radius: 50px;
}
